.destinations-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.item {
  width: 312px;
  height: 754px;
}
.destinations-items .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
}
.destinations-items .item header h4 {
  font-weight: var(--title-weight);
  font-size: 28px;
  margin: 24px 0 0 0;
}
.destinations-items .item header p {
  font-weight: var(--text-weight);
  font-size: 20px;
  margin: 24px 0;
  line-height: 1.6;
}
.img-item.tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
  width: 312px;
  height: 360px;
}

.img-item.osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
  width: 312px;
  height: 360px;
}
.destinations-items .item header footer .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .img-item.tokyo {
    background: url(../img/tokyo-desktop.jpg) no-repeat;
    background-size: cover;
    width: 648px;
    height: 452px;
  }

  .img-item.osaka {
    background: url(../img/osaka-desktop.jpg) no-repeat;
    background-size: cover;
    width: 648px;
    height: 452px;
  }
  .item {
    width: 648px;
    height: 718px;
  }
  .destinations-items .item header footer .button {
    width: 280px;
  }
}
