header{
    background-color: var(--background-tertiaty-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 47px;
    position: relative;
}

.logo{
    width: 68px;
    height: 64px;
    display: inline-block;
}
.navigation-menu{
    margin-top: 24px;
}

input[type='checkbox']:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background-color: var(--background-tertiaty-color);
}


nav{
    display: none;
}

.list-link{
    list-style: none;
}

.list-link li{
    margin: 16px 0;
}

.list-link li a{
    color: var(--text-secondary-color);
    text-decoration: none;
}

