.payments {
  width: 312px;
  margin: auto;
}
.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 468px;
  margin-top: 24px;
}

.payments .image-gallery .image.first {
  background: url(../img/bag-mobile.png) no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.second {
  background: url(../img/passport-mobile.png) no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.thirdy {
  background: url(../img/people-mobile.png) no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments {
    margin: auto;
    width: 648px;
  }
  .payments .image-gallery .image.first {
    background: url(../img/bag-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .image-gallery .image.second {
    background: url(../img/passport-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .image-gallery .image.thirdy {
    background: url(../img/people-tablet.png) no-repeat;
    background-size: cover;
  }
}
